.sports-right-column-container {
  margin: 0;
  padding: 10vh 3vw 6vh;
  min-height: 100vh;
}

.sports-right-column-button {
  margin: 10px;
  border-radius: 40px;
  padding: 1vh 2vw;
  width: 15vw;
  text-align: start;
}
