.price-feeds-card-title,
.price-feeds-card-subtitle {
  text-align: left;
}

.price-feeds-card {
  width: 100%;
  background-color: #ffffff;
  box-shadow: 10px 10px 8px #888888;
}

#dropdown-basic-button {
  background-color: #340068;
  border: 1px solid #340068;
  box-shadow: 5px 5px 10px #888888;
}

.pair-card-wrapper {
  padding: 20px;
  /* max-width: ; */
}

.date-picker {
  text-align: left;
}
.approve-dai-card-wrapper {
  margin: 20px;
  padding: 0;
}

.approve-dai-card {
  margin: 0;
  padding: 20px;
  text-align: right;
}
