.appbar {
  background-color: #340068;
}
.appbar-brand {
  font-size: 40px;
  margin: 0;
  padding: 0 0 0 9vw;
}

.nav-button {
  text-decoration: none;
  color: rgb(212, 200, 200);
}
.nav-button:hover {
  text-decoration: none;
  color: rgb(153, 150, 150);
}

.connect-wallet-button {
  background-color: #9933ff;
  padding: 5px 10px;
  border-radius: 15px;
}

.nav-item {
  margin: 7px 10px;
  color: white;
}

.nft-button {
  background-color: #8e3ddf;
  padding: 5px 10px;
  width: 10vw;
  border-radius: 5px;
}
