.left-column-container {
  margin-top: 10px;
  min-height: 89vh;
  border-right: 1px solid #340068;
}

.left-button-column {
  padding-top: 3vh;
  padding: 3vw;
}

.left-button-row {
  padding-top: 3vh;
}

.left-column-button-pricefeeds {
  border-radius: 30px;
  width: 18vw;
  height: 7vh;
  background-color: #340068;
  border: 1px solid #340068;
  box-shadow: 10px 10px 8px #888888;
}

.left-column-button-pricefeeds:hover {
  background-color: #290d46;
}
